body{
    background-color: rgba(9, 9, 148, 0.925);
    font-family: arial;
    margin: 0%;

}

h1{
    color: rgba(253, 248, 248, 0.979);
    font-weight: 600;
}
#top-container{
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.526);
    border-radius: 10px;
    margin-left: 16%;
    margin-right: 1%;
    margin-top: 1%;
    width: 83%;
    font-weight: 500;
}
#inner-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
#inner-top-container p{ 
    margin:auto 7%;

    font-style: none;
    
}
#inner-top-container p:hover{
    cursor: pointer;
}
#inner-top-container p:active{
  color: rgba(0, 0, 0, 0.4);  
}
#side-menu{
    background-color: rgba(0, 255, 255, 0.526); 
    float: left;
    position: fixed;
    top: 0%;
    height:100%;
    width: 15%;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
}
#side-menu p:hover{
  cursor: pointer;
}
#side-menu p:active{
  color: rgba(0, 0, 0, 0.353);
}
#inner-lower-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
}
.coursesS{
    display: none;
}

#courses{
    
    position: absolute;
    overflow: hidden;
    top: 20%;
    background-color: rgba(0, 255, 255, 0.126);
    border-radius: 10px;
    margin-left: 16%;
    margin-right: 1%;
    margin-top: 5%;
    padding: 2% 0% 2% 2%;
    width: 81%;
    height: auto;
}
#mainContainer h2{
    color: rgba(255, 255, 255, 0.836);
    font-family: gill sans;
    font-size: 2em;
    text-decoration: underline;
}
#courses div{
    width: 90%;
    padding: 3%;
    margin-bottom: 1%;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(112, 22, 185);
    background-color: rgba(0, 255, 255, 0.326);
}
#courses div:hover{
    
    background-color: rgba(0, 255, 255, 0.46);
    box-shadow: 3px 3px 6px rgb(220, 200, 236);
}
#courses div button{
margin: 3px 3px;
}
#courses div button:hover{
    cursor: pointer;
  

}
#courses #headerparagraph{
    color: rgb(12, 12, 12);
    background-color: rgba(240, 248, 255, 0.808);
    width:190px;
    border-radius: 10px;
    padding: 2px;
    font-size: 1.4em;
}
.headeR{
    color: red;
}
#courses div p{
    display: inline;
    padding-right: 85%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#courses div p:hover{
     cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
}
#courses div li:hover{
    
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
}
#courses div li:active{
    
    color: rgba(0, 0, 0, 0.452);
}
#courses div button{
    position: relative;
    background: none;
    border: none;
    font-size: 2em;
}
#side-menu div p{
    margin: 2%;
}
#side-menu div h3{
    font-size: 1em;
    font-weight: 700;
    margin: 3px 3px;
}
#side-menu #sign{
    margin-top: 20%;
}
#side-menu #socials{
    position: absolute;
    top: 30%;
}
#side-menu #footer{
    top: 80%;
    position: absolute;
}
#side-menu #pro{
    position: absolute;
    top: 55%;
    background-color: rgba(253, 253, 5, 0.829);
    border-radius: 10px;
}
#side-menu #pro span{
    font-weight: 600;
    color: rgba(240, 165, 5, 0.993);
}